# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
pubspec.lock

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/local.properties
**/android/key.properties

# iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/.generated/
**/ios/Pods/
**/ios/.symlinks/
**/ios/build/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Misc
*.iml
*.log
*.tmp
*.DS_Store
.idea/
.vscode/
